@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  padding: 1% 10%;
  background-color: gray;
  background: url("../src/images/background.png") no-repeat;
  background-size: cover;
  background-position: center;
}
